<mat-nav-list>
  <div class="profile-card">
      <div class="header">
          <h2>{{username}}</h2>

        <!--  <h4><a href="mailto:Rayene.hamada@enactusisetch.tn">Rayene.hamada@enactusisetch.tn</a></h4>-->
      </div>
      <img src="http://admin.enactusisetch.tn/storage/app/public/members/uLDfp7H5qsuHpLe54tckk9AEe75jiKglbvkYcJKX.jpeg" alt="Rayene Hamada">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>
  <a mat-list-item *ngIf="isUser" routerLinkActive="list-item-active" routerLink=""><mat-icon>home</mat-icon>Home</a>
  <a mat-list-item *ngIf="isUser" routerLinkActive="list-item-active" routerLink="/projects"><mat-icon>dashboard</mat-icon>Dashboard</a>
  <a mat-list-item *ngIf="isUser" routerLinkActive="list-item-active" routerLink="/projects/add"><mat-icon>add_location</mat-icon>New solar farm</a>
  <a mat-list-item *ngIf="isUser" routerLinkActive="list-item-active" routerLink="/projects/all"><mat-icon>wb_sunny</mat-icon>All Solar Farms</a>
  <a mat-list-item *ngIf="isUser" routerLinkActive="list-item-active" routerLink="/projects"><mat-icon>house</mat-icon>Rooftops </a>
  <a mat-list-item *ngIf="isAdmin" routerLinkActive="list-item-active" routerLink="/"><mat-icon>home</mat-icon>Home</a>
  <a mat-list-item *ngIf="isAdmin" routerLinkActive="list-item-active" routerLink="/admin"><mat-icon>dashboard</mat-icon>Dashboard</a>
  <a mat-list-item *ngIf="isAdmin" routerLinkActive="list-item-active" routerLink="/admin/users"><mat-icon>supervisor_account</mat-icon>Users</a>
  <a mat-list-item *ngIf="isAdmin" routerLinkActive="list-item-active" routerLink="/admin/projects"><mat-icon>power</mat-icon>Projects</a>
  

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  
  <a mat-list-item  href="https://www.npmjs.com/package/pvtools">
      <mat-icon>wb_sunny</mat-icon>
      PVtools
  </a>



</mat-nav-list>
