<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button (click)= "toggleSideBar()">
          <mat-icon>menu</mat-icon>
      </button>

      <span id="title"><a routerLink=""> S<i class="far fa-sun" style="font-size: 20px;"></i>lar Planner </a></span>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <ul fxLayout="row" fxLayoutGap="20px">
              <li><a [routerLink]="['/projects/add']" routerLinkActive="router-link-active" ><button *ngIf="isUser" mat-raised-button color="accent">New Project</button></a></li>
              <li>
                <button mat-button [matMenuTriggerFor]="menu">
                  <mat-icon>person_outline</mat-icon>
              </button>
              
              <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="changePassword()">
                    <mat-icon>vpn_key</mat-icon>
                    Change password
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    Sign out
                </button>
              </mat-menu>
              


              </li>
          </ul>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
