<div class="ss_login_bg"> 
    <section class="s_login">
      <div class="ss_box_bg">
        <a routerLink=""><img src="assets/images/svg/logo1.svg" class="img-fluid" alt="logo"/></a>
        <div class="s_heading">
          <h2>Welcome to <span>Solar Planner</span></h2>
          <p>Please Login To Your Account</p>
        </div>
        <form [formGroup]="loginFormGroup" class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Email Adress:</mat-label>
            <input matInput type="text" formControlName="email" id="email" placeholder="Enter Your Email" class="require" data-valid="email" data-error="Email should be valid."/>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Email Adress:</mat-label>
            <input matInput type="password" placeholder="Enter Your Password" formControlName="password" id="password" class="require" />
            </mat-form-field>
            <a routerLink="/forgot_password">Forgot Password ?</a><br>
          <div class="s_jump_page">
            <button type="button" class="ss_btn submitForm" (click)="login()">login</button>
            <a href="signup.html" class="login_anchor" routerLink="/registration">sign up</a>
            <img id='google' src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png" (click)="socialSignIn('google')" height="50" width="200" style="text-align: center;">
            <div class="response"></div>
          </div>
        </form>

      </div>
    </section>
</div>