<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <app-widget-map *ngIf="center" fxFlex="50" fxFlex.md='100' [area]='area' [center]='center'></app-widget-map>
    <app-widget-spline *ngIf="center" fxFlex="50" [data]="data" [time]="time"></app-widget-spline>
  
  </div>
  
  <br>
  
  <mat-divider></mat-divider>
  
  <br>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
      {{panelNumber}} panels
      <i class="material-icons">
        view_carousel
        </i>
    </mat-card>
    <mat-card fxFlex="25" fxFlex.md="100">
      {{power7}} kW/7d <i class="material-icons">
        power
        </i>
    </mat-card>
    <mat-card fxFlex="25" fxFlex.xs="100">
      Panel Direction: {{project.direction}} 
    </mat-card>
  
  </div>
  
  <!--<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="New Users" total="12k" percentage="50" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users retention" total="10k" percentage="40" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users engagement" total="8k" percentage="30" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Referral" total="6k" percentage="20" [data]="cards"></app-widget-card>
    </mat-card>
  </div>
  
  <br>
  
  <mat-divider></mat-divider>
  -->
  <br>
  
  
  
  <br>
  <br>
  <br>
  