  <section class="s_login">
    <div class="s_signup ss_box_bg">
      <a routerLink=""><img src="assets/images/svg/logo1.svg" class="img-fluid" alt="logo"/></a>
      <div class="s_heading">
        <h2>Let's <span>Get Started</span></h2>
        <p>Please enter your credentials</p>
      </div>
      <form [formGroup]="registrationFormGroup">
        <mat-form-field class="example-full-width">
          <mat-label>Fullname</mat-label>
          <input matInput type="text" placeholder="Enter Your Name" formControlName="username" id="full_name" class="require" />
         </mat-form-field>

         <mat-form-field class="example-full-width">
          <mat-label>Your email adress</mat-label>
          <input matInput type="email" formControlName="email" id="email" placeholder="Enter Your Email" class="require" data-valid="email" data-error="Email should be valid."/>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password" id="password" class="require" />
          </mat-form-field>

        <div class="s_jump_page">
          <button type="button" class="ss_btn submitForm" (click)="register()">sign up</button>
          <a href="login.html" class="login_anchor" routerLink="/login">login</a>
          <img id='google' src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png" (click)="socialSignIn('google')" height="50" width="200" style="text-align: center;">
         
          <div class="response"></div>
        </div>
      </form>
    </div>
  </section>