
<table *ngIf="users[0]" class="table" class="mat-elevation-z8">
    <thead>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">Authentification method</th>

        <th scope='col'>Number of projects</th>

        <th scope="col">Action</th>
    </thead>
    <tbody>
      <tr  *ngFor="let u of users" >
        <th scope="row"  >{{u.details.fullName|uppercase}}</th>
        <td>{{u.details.email}}</td>
        <td>{{u.details.method}}</td>

        <td>{{u.projects}}</td>
 

        <td><button mat-button (click)='openDialog(u)'>Delete <i class="material-icons">
          delete
          </i></button></td>
      </tr>
    </tbody>
  </table>
  <h1 *ngIf="!users[0]">THERE NO USERS FOR NOW</h1>
