.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}

table {
  width: 100%;
}
agm-map {
  height: auto;
  width: auto;
}
.noprojects{
  position: absolute;
    top:40%; 
    left:40%;
    text-align: center;
}
