<mat-tab-group mat-align-tabs="center">
  <mat-tab label="General">
    <div fxLayout="raw" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
      <div fxFlex="25" fxLayout="raw wrap" >
        <div class="col-xl-3 col-md-6 mb-4" fxFlex="100" cdkDrag cdkDragLockAxis="y">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Surface</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{surface}}m²</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-chart-area fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-3 col-md-6 mb-4" fxFlex="100" cdkDrag cdkDragLockAxis="y">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of panels</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{panelNumber}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-sun fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4" fxFlex="100" cdkDrag cdkDragLockAxis="y"> 
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">System orientation</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{direction}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-compass fa-2x text-gray-300"></i>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4" fxFlex="100" cdkDrag cdkDragLockAxis="y">  
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Panels tilt</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{tilt}}°</div>
                </div>
                <div class="col-auto">
                  <i class="fab fa-accusoft fa-2x text-gray-300"></i>                
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      -<app-widget-map *ngIf="center" fxFlex="50" fxFlex.md='50' [area]='area' [center]='center'></app-widget-map>
    <div fxFlex="25" fxLayout="raw wrap" >
  
      
      <div class="col-xl-3 col-md-6 mb-4" fxFlex="100" cdkDrag cdkDragLockAxis="y"> 
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Energy price in {{country}}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{price}} {{currency}}/kw</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-euro-sign   fa-2x text-gray-300"></i>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4" fxFlex="100" cdkDrag cdkDragLockAxis="y"> 
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Capacity</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{capacity}} kW</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-bolt fa-2x text-gray-300"></i>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4" fxFlex="100" cdkDrag cdkDragLockAxis="y"> 
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total power generated</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_pv}} kW</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-bolt fa-2x text-gray-300"></i>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4" fxFlex="100" cdkDrag cdkDragLockAxis="y"> 
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Value of power generated</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_value}} {{currency}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-bolt fa-2x text-gray-300"></i>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
    
    </div>
  </mat-tab>




  <mat-tab label="Real time">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
      <div fxLayout="raw wrap" fxFlex="20"> 
        <app-widget-column fxFlex="100"  *ngIf="!estimation_data[0]" [data]="estimation_data" [title]="title2"  fxFlex.md='50'></app-widget-column>
        <app-widget-column fxFlex="100"  *ngIf="estimation_data[0]" [data]="estimation_data" [title]="title2" fxFlex.md='50'></app-widget-column>
        <br>
        <div class="col-xl-3 col-md-6 mb-4" fxFlex="100" cdkDrag cdkDragLockAxis="y">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{estimations}}KW</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-chart-area fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <app-widget-multiaxes *ngIf="azimuth[1]" fxFlex="57" [axe1]="pv_today" [axe2]="altitude" [axe3]="azimuth" [time]="sun_hours" ></app-widget-multiaxes>
    
    <div fxLayout="raw wrap" fxFlex="20">  
        <app-widget-column fxFlex="100" *ngIf="forecast_data[0]" [data]="forecast_data" [title]="title1"  fxFlex.md='50'></app-widget-column> 
        <app-widget-column fxFlex="100" *ngIf="!forecast_data[0]" [data]="forecast_data" [title]= "title1"  fxFlex.md='50'></app-widget-column> 
        <br>
       
        <div class="col-xl-4 col-md-6 mb-4" fxFlex="100" cdkDrag cdkDragLockAxis="y">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{forecast}}Kw</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-chart-area fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
   <br>
   
   
   <br>
   

   </mat-tab>
  <mat-tab label="PLan"> <pdf-viewer 
    [src]="pdfSrc" 
    [render-text]="true"
    style=" height: 50%; width: 50%;"  [show-borders]="true"></pdf-viewer> </mat-tab>
</mat-tab-group>
