<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <app-widget-map fxFlex="50"></app-widget-map>
  <app-widget-spline fxFlex="50"></app-widget-spline>

</div>

<br>

<mat-divider></mat-divider>

<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <h1>{{numero}}</h1>
  </mat-card>
  <mat-card fxFlex="25">
  </mat-card>
  <mat-card fxFlex="25">
  </mat-card>
  <mat-card fxFlex="25">
  </mat-card>
</div>

<!--<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
      <app-widget-card label="New Users" total="12k" percentage="50" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
      <app-widget-card label="Users retention" total="10k" percentage="40" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
      <app-widget-card label="Users engagement" total="8k" percentage="30" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
      <app-widget-card label="Referral" total="6k" percentage="20" [data]="cards"></app-widget-card>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>
-->
<br>



<br>
<br>
<br>
