<mat-horizontal-stepper linear #stepper>

  <mat-step  [completed]="stepone">
    
    <ng-template matStepLabel>Choose the project area</ng-template>
    <agm-map [latitude]="center.lat" [longitude]="center.lng" (mapReady)="onMapReady($event)" >
    </agm-map>    
  </mat-step>

  <mat-step [completed]="stepTwo">
    <ng-template matStepLabel>Panel Details</ng-template>
    <mat-chip-list aria-label="Panel selection">
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="space-around center" >
        <mat-card *ngFor="let panel of panels" class="card" fxFlex='20'>
          <mat-card-header>
            <mat-card-title>{{panel.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image *ngIf="panel.technology == 'Monocrystalline'" src="../../../../assets//images//monocrystalline-solar-panel-500x500.jpg"alt="Photo of a Shiba Inu">
          <img mat-card-image *ngIf="panel.technology == 'Polycrystalline'" src="../../../../assets//images/polycrystalline-solar-panel-500x500.jpg"alt="Photo of a Shiba Inu">
          <img mat-card-image *ngIf="panel.technology == 'Thin film'" src="../../../../assets//images/48-Sharp-Thin-Film-Amorphous-Solar-Panel.jpg"alt="Photo of a Shiba Inu">
          
          <mat-card-content>
            <p>
              <strong>Technology :</strong>{{panel.technology}}<br>
              <strong>Capacity :</strong>{{panel.capacity}} Kw<br>
              <strong>Height :</strong>{{panel.height}} cm<br>
              <strong>Width :</strong>{{panel.width}} cm<br>

            </p>
          </mat-card-content>
          <mat-card-actions>
            <mat-chip (click)='choosePanel(panel)'>Select panel</mat-chip>
          </mat-card-actions>
        </mat-card>
          <button class="plus-button plus-button--large" (click)='newPanel()'></button>
          

      </div>
    </mat-chip-list>

  </mat-step>
  
  <mat-step>
    <form [formGroup]="configurationForlGroup">
      <ng-template matStepLabel>System configuration</ng-template>
      <mat-form-field>
        <mat-label>Azimuth</mat-label>
        <input matInput formControlName="azimuth" [value]="azimuth" placeholder="north" required>
      </mat-form-field>
      <mat-form-field>
      <mat-label>Pnal tilt</mat-label>
        <input matInput formControlName="tilt" [value]="tilt" required>
      </mat-form-field>
      <mat-form-field>
      <mat-label>Number of panels</mat-label>
        <input matInput formControlName="nbPanels" [value]='nb_panels' required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

 
</mat-horizontal-stepper>