<div class="ss_login_bg"> 
    <section class="s_login wow fadeIn">
        <div class="s_reset ss_box_bg">
            <a href=""><img src="assets/images/svg/logo1.svg" class="img-fluid" alt="logo"/></a>
            <div class="s_heading">
                <h2>Reset <span>Password</span></h2>
                <p>Enter your e-mail adress to get reset password e-mail</p>
            </div>
            <form [formGroup]="resetFormGroup">
                <mat-form-field class="example-full-width">
                    <mat-label>Email Adress:</mat-label>
                    <input matInput type="text" formControlName="email" id="email" placeholder="Enter Your Email" class="require" data-valid="email" data-error="Email should be valid."/>
                    </mat-form-field>
                <div class="s_jump_page">
                    <button type="button" class="ss_btn submitForm" (click)="reset()">Get E-mai</button>
                    <a routerLink="/login" class="login_anchor">login</a>
                    <div class="response"></div>
                </div>
            </form>
        </div>
    </section>
</div>