table{
    width: 100%;
    height: auto;
}
.mat-elevation-z8{
    background-color: white;
}
td,th {
    text-align: center;
    padding: 1%;
}
table tr:hover{
    background-color: #dddddd;
}
.fab{
    position: absolute;
    top: 85%;
    right: 2%;
}